.vs/
bin/*
bin-intermediates/*
*.obj
*.ipch
*.exe
*.pdb
*.ilk
*.recipe
**/imgui.ini

*.lib
*.dll

!Dependencies/
!Dependencies/**

!**/res/Models/
!**/res/Models/**
!**/res/Models/**/*.obj
!**/res/Models/**/*.mtl