.vs/
*.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

bin/*
bin-intermediates/*
out/

*.obj
*.ipch
*.exe
*.pdb
*.ilk
*.recipe
**/imgui.ini

*.lib
*.dll

!Dependencies/
!Dependencies/**

!**/res/Models/
!**/res/Models/**
!**/res/Models/**/*.obj
!**/res/Models/**/*.mtl