# ========================= VISUAL STUDIO / IDE ========================= 

.vs/
*.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# ========================= CMAKE ======================================= 

build/
out/
CMakeCache.txt
CMakeFiles/
CMakeSettings.json
*.cmake

# ========================= BUILD OUTPUTS =============================== 

bin/
bin-intermediates/

*.lib
*.dll
*.exe
*.pdb
*.ipch
*.ilk
*.recipe

bin-intermediates/**.obj

# ========================= TOOLS ======================================= 

**/imgui.ini

# ========================= ASSETS ====================================== 


!Dependencies/
!Dependencies/**

!**/res/Models/
!**/res/Models/**
!**/res/Models/**/*.obj
!**/res/Models/**/*.mtl